.main {
  width: 100%;
  background: #f1f3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 20px;
  font-size: 20px;
  width: 90%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  outline: none;
}

.btn {
  font-weight: bold;
  margin: 0 20px;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #dee2e6;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #ced4da;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 0px 0px 0px 5px #ced4da;
}

.commentContent {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 100px;
}

.comment {
  padding: 20px;
  margin: 10px 0;
  background: #f8f9fa;
  border-radius: 10px;
}

.commentsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments {
  font-size: 25px;
}
.commentNone {
  display: none;
}
