.main {
  display: flex;
  flex-direction: column;
  margin: 100px 30px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin: 20px 0;
  width: 100%;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  font-size: 24px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.none {
  display: none;
}
