.main {
  display: flex;
  flex-direction: column;
  margin: 100px 30px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin: 20px 0;
  width: 100%;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  margin: 0 20px;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #dee2e6;
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #ced4da;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 0px 0px 0px 5px #ced4da;
}

.text {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}
