.main {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 100px 60px;
}

.wrting {
  color: black;
  text-decoration: none;
  text-align: right;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

.another {
  color: black;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.num {
  font-size: 18px;
}

.listTitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
