.main {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 100px 60px;
}

.btnlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.btn {
  font-size: 18px;
  /* width: 100px; */
  text-align: center;
  background: #ffffff;
  border: 1px solid #dee2e6;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #ced4da;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 0px 0px 0px 5px #ced4da;
}

.num {
  font-size: 18px;
}

.listTitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
