body {
  background: #f8f9fa;
}

/* 향상된 네비게이션 바 스타일 */
.navbar {
  background-color: #fdff8b;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.navLink {
  color: #333;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.link {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navLink:hover {
  background-color: #eeeeee;
  color: #007bff;
  text-decoration: underline;
}

/* 추가 글로벌 스타일 조정 */
html {
  scroll-behavior: smooth;
}
