.main {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 18px;
  background: #ffffff;
  /* border: none; */
  border: 1px solid #dee2e6;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #ced4da;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  box-shadow: 0px 0px 0px 5px #ced4da;
}
