.main {
  margin: 20px 0;
}

.title {
  font-size: 26px;
  margin: 20px 0;
  font-weight: bold;
}

.InputForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
}

.input {
  height: 100%;
  width: 90%;
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.lists {
  margin: 20px;
}

.li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.li p b {
  font-weight: bold;
}

.commentBtn {
  margin-left: 20px;
}

.btn {
  margin: 0 20px;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #dee2e6;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #ced4da;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 0px 0px 0px 5px #ced4da;
}
