.modal {
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.main {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  /* height: 70%; */

  border-radius: 7px;
}

.close {
  color: #aaa;
  float: right;
  border: none;
  background: none;
  font-size: 28px;
  font-weight: bold;
}

.img {
  width: 100px;
}
.content {
  margin: 20px;
  height: 100%;
}
.title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.author {
  font-size: 20px;
  margin-top: 10px;
}

.category {
  font-size: 20px;
  margin-top: 10px;
}

.description {
  font-size: 20px;
  margin-top: 10px;
  line-height: 30px;
  width: 100%;
  background-color: #888;
  color: white;
  padding: 10px;
  border-radius: 7px;
}
